.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Darkened background
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Ensure it's above other content
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-overlay-open {
  opacity: 1;
}

.modal {
  background: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 8px;
  width: 90%; // make it flexible
  max-width: 1280px; // maximum size
  transform: translateY(100%); // Start off-screen
  transition: transform 0.3s ease-in-out;
  min-height: 80vh;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.modal-title {
  margin: 0;
}

.modal-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--color-primary);
  cursor: pointer;
}

.modal-body {
  padding: 1rem;
}

// New class for the open state of the modal
.modal-open {
  transform: translateY(0); // Bring the modal into view
}

@media (max-width: 1280px) {
  .modal {
    border-radius: 15px 15px 0 0;
    width: 100%; // full width on small screens
    min-height: 90vh;
    max-width: none; // remove max-width constraint on smaller screens
    bottom: 0;
    position: fixed; // Fixed position to stay in view
  }
  .modal-open {
    transform: translateY(0);
  }
}
